html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.modal {
    position: relative;
    z-index: 0;
}

#loading_view {
    display: block;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 196, 0.7);
}

#loading_view img {
    display: block;
    width: 50%;
    padding-top: 120px;
    margin: 0 auto 100px auto;
}

.bs-docs-section {
    padding-top: 50px;
}

#map {
    height: 320px;
}

.poi_number {
    display: inline-block;
}

.poi_number:after {
    content: ".";
    color: blue;
    margin-right: 0.5rem;
}

.poi_recent {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.poi_recent a {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.poi_visit_date {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.poi_place_info {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.poi_open_now {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.poi_open_now:before {
    content: "\2B55";
    color: blue;
    margin-right: 0.5rem;
}

.poi_name {
    display: block;
}

.poi_rating {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.poi_rating:before {
    content: "\1F31F";
    color: orange;
    margin-right: 0.5rem;
}

.poi_price_level {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.poi_price_level:before {
    content: "\1F4B0";
    color: orange;
    margin-right: 0.5rem;
}

.poi_img {
    display: block;
    margin: 5px auto;
}

.poi_vicinity {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.poi_vicinity:before {
    content: "\1F374";
    color: orange;
    margin-right: 0.5rem;
}

@media ( min-width: 768px) {
    .poi_name {
        display: inline-block;
    }
    #banner {
        min-height: 300px;
        border-bottom: none;
    }
    .bs-docs-section {
        margin-top: 0;
    }
    .bs-component {
        position: relative;
    }
    .bs-component .modal {
        position: relative;
        top: auto;
        right: auto;
        left: auto;
        bottom: auto;
        z-index: 1;
        display: block;
    }
    .bs-component .modal-dialog {
        width: 90%;
    }
    .bs-component .popover {
        position: relative;
        display: inline-block;
        width: 220px;
        margin: 20px;
    }
    .nav-tabs {
        margin-bottom: 15px;
    }
    .progress {
        margin-bottom: 10px;
    }
}